<h1 class="page-heading text-center" >Integrations</h1>
<hr>
<%- if Devise.mappings[:user].omniauthable? %>
<div class="row" id="github_edit">
	<%= render partial: "github_profile/edit" %>
</div>
<br>
<div class="row" id="linkedin_edit">
	<%= render partial: "linkedin_profile/edit" %>
</div>
<br>
 <% end -%>
<div class="row" id="codeforces_edit">
	<%= render partial: "codeforces_profile/edit" %>
</div>
<br>
<div class="row" id="topcoder_edit">
	
	<%= render partial: "topcoder_profile/edit" %>
</div>

<!-- 
<%= link_to "Add Codeforces Account", cfp_profile_new_path %><br />
<%= link_to "Add Topcoder Account", topcoder_profile_new_path %><br />

<%= link_to "Update Codeforces Account", cfp_update_profile_path %><br />
<%= link_to "Update Github Account", github_update_profile_path %><br />
<%= link_to "Update Topcoder Account", topcoder_update_profile_path %><br />
 -->

