<% unless @users.nil? or @users.empty? %>
	<div class="col-lg-12">
		<% @users.each_with_index do |user, i| %>
			<div class="row">
				<div class="the-box no-border" style="min-height:162px;">
					<div class="col-lg-2">
						<center>
						<img class="media-object img-rounded" src="<%= user.gravatar_url%>" alt="Avatar" width="100">
						<h4><%= user.full_name %></h4>
						</center>
					</div>
					<div class="col-lg-4">
						<% unless user.location.nil? %>
							<i class="fa fa-map-marker"></i> <strong><%= user.location.name %></strong>
							<hr style="margin-top:15px;margin-bottom:15px;" />
						<% end %>
						<% unless user.short_bio.nil? %>
							<p><%= user.short_bio %></p>
						<% end %>
					</div>
					<div class="col-lg-1">
						<% unless user.github_profile.nil? %>
							<i class="fa fa-lg fa-github" title="Github"></i>
						<% end %>
						<% unless user.linkedin_profile.nil? %>
							<i class="fa fa-lg fa-linkedin-square" title="LinkedIn"></i>
						<% end %>
						<% unless user.codeforces_profile.nil? %>
							<i class="fa fa-lg fa-cubes" title="Codeforces"></i>
						<% end %>
						<% unless user.topcoder_profile.nil? %>
							<i class="fa fa-lg fa-tumblr" title="Topcoder"></i>
						<% end %>
					</div>
					<div class="col-lg-4">
						<div class="tags-cloud skill-cloud">
							<% unless @languages_req.nil? %>
								<% @languages_req.slice(0..2).each do |lang| %>
									<span class="label label-danger"><%= lang %></span>
								<% end %>
								<% remaining = 3 - @languages_req.length %>
								<% remaining_array = (user.languages.map(&:name).uniq - @languages_req).slice(0..(remaining-1))%>
							<% else %>
								<% remaining = 3 %>
								<% remaining_array = user.languages.map(&:name).slice(0..2) %>
							<% end %>
							<% remaining_array.each do |lang| %>
								<span class="label label-info"><%= lang %></span>
							<% end %>
							<hr style="margin-top:15px;margin-bottom:15px;" />
						</div>
						<div class="tags-cloud skill-cloud">
							<% unless @skills_req.nil? %>
								<% @skills_req.slice(0..2).each do |skill| %>
									<span class="label label-danger"><%= skill %></span>
								<% end %>
								<% remaining = 3 - @skills_req.length %>
								<% remaining_array = (user.skills.uniq - @skills_req).slice(0..(remaining-1))%>
							<% else %>
								<% remaining = 3 %>
								<% remaining_array = user.skills.slice(0..2) %>
							<% end %>
							<% remaining_array.each do |skill| %>
								<span class="label label-info"><%= skill %></span>
							<% end %>
							<hr style="margin-top:15px;margin-bottom:15px;" />
						</div>
					</div>
					<div class="col-lg-1">
						<a href="<%= profile_path(user.username)%>"><button class="btn btn-sm btn-dark">View</button></a>
					</div>
				</div><!-- /.the-box .bg-success .no-border-->
			</div>
		<% end %>
	</div>
<% else %>
	<div class="col-lg-12">
		<div class="row">
			<div class="the-box no-border bg-info">
				<center>
					<h4 class="small-title">Sorry!<br/> World is too small. No Developers found. </h4>
				</center>
			</div>
		</div>
	</div>
<% end %>