<div class="row" style="margin-top:10px;">
	<div class="col-lg-12">
		<div class="the-box no-border">
			<div class="sociallinks" style="float:right;">
				<br>
				<i class="fa fa-share-alt"></i>
				<Strong>Share this profile</Strong>
				<br>
				<%= social_share_button_tag("Prologg", :popup => true, :url => "http://prologg.me/"+"#{ @user.username}", :img => "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRtuEzyLbOZbZUskhsEULL7TSJw_EKMitKgWhIMOznJmp8ETZn8hg" ) %>
			</div>

      <div class="text-center">
        <h3 class = "heading row"><%=@first_name%>'s Bio</h3>
      </div>
			<p class="first-paragraph text-justify">
        <% if @all_langs.empty? %>
          <span class="style-words"><%=@first_name%></span> has just entered the field of software development. For now, we don't have much to say about <%= gender3 %>. But we will be always be there to see <%= gender3 %> shinning very soon. 
        <% else %>
          <span class="style-words"><%=@first_name%></span> is a <span class="style-words text-danger" data-toggle="sum" data-placement="top" title="<%=lang_adj_tt( lang_adjective)%>"><%= lang_adjective %></span> <span class="style-words text-info" data-toggle="sum" data-placement="top" title="most frequently used language"><%=@all_langs.keys.first%></span>-maniac. <%= gender%>'s been maintaining a striking list of repositories with assorted languages like <span class="style-words text-warning" data-toggle="sum" data-placement="top" title="other languages"> <%= @all_langs.keys.slice(0..2).to_sentence  %></span>.
          <% unless @github_profile.nil? %>
              <%= gender%><span data-toggle="sum" data-placement="top" title="based on his local time zone"><%= time_adjective %></span> majorly active during <span data-toggle="sum" data-placement="top" title="tells if <%= gender%> is free on weekends" class="style-words text-info"><%= day_adjective %></span>. 
          <% end %>
          <% unless @industry.nil?%>
              <%= gender%>'s currently exploring the field of <span data-toggle="sum" data-placement="top" title="from LinkedIn Profile" class="style-words text-danger">  <%= @industry%></span>.
          <% end %>
        <% end %>
			</p>
      <p class="first-paragraph text-justify">
        <% unless @user.technical_integrations.empty? %>
          Our <%= gender1 %> is <span class="style-words text-primary" data-toggle="sum" data-placement="top" title="<%= over_all_tt(over_all_adjective)%>"><%= over_all_adjective %></span> software geek!
          <%= gender %> has been keenly developing on <span class="style-words text-info" data-toggle="sum" data-placement="top" title="based on accounts integrated"><%= @user.technical_integrations.to_sentence%></span><%=linkedin_skills%>.
        <% end %>
        <% unless tags.empty? %>
          <%= gender %>'s a diligent algorithmic developer and has majorly worked in <span class="text-primary style-words" data-toggle="sum" data-placement="top" title="tags on algorithms problem solved"><%= tags %></span> types of problems.
        <% end %>
        <% if @user.has_app_accounts%>
          <%= gender %>'s a laudible developer who likes to explore new areas of software development.
        <% end %>
      </p>
		</div>
	</div>
</div>
<% unless @linkedin_profile.nil? %>
  <div class="row">
  	<div class="col-lg-12">
  		<div class="time-line">
  			<div class="the-box no-border">
  					<!-- BEGIN OWL CAROUSEL -->
            <div class="row">
  				    <h3 class = "heading text-center">Experience (recent to older)</h3>
            </div>
  				<hr class="seperator" style ="margin-top:5px;">
  					<div id="owl-lazy-load-autoplay" class="owl-carousel" style="  family: 'Raleway', sans-serif;">
            <% if not @linkedin_profile.data["positions"].blank?%>
  					<% @linkedin_profile.data["positions"].each_with_index do |i, index|%>
  						<div class="item" style="margin : 0px">		
  							<div class="">
  								<!-- BEGIN SLIDER -->
  								<div class="the-box removeborder">
  									<h4 class="small-title caracolor " ><%= i["t"] %></h4>
  									<hr />
  									<h5 class="small-title caracolor "><%= i["c"] %></h5>
  								</div><!-- /.the-box -->
  									<!-- END SLIDER -->
  							</div><!-- /.col-sm-6 -->
  						</div>
  						<!-- <br/> -->
  						<!-- <br/> -->
  					<% end %>
            <% end %>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
<% end %>

<% unless @github_profile.nil? %>
	<div class="row">
		<div class="col-lg-6">
			<div class="the-box no-border">
				<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="the-box no-border"  style="height: 430px !important">
				<i class="fa fa-graduation-cap icon-circle icon-lg icon-default newicon"></i>
				<p class="first-paragraph text-center">
					<%= gender %> is a <%= time_adjective("graph") %> developer. <% if not time_adjective("graph") == "nocturnal" %><%= gender %> prefers his airconditioned abode than the screechy sun and turns his senses to code <% else %><%= gender %> enjoys the delight of moonlight and stillness of night rather than retro lights.<% end -%>
				</p>
			</div>
		</div>
	</div>
<% end %>

<% unless @github_profile.nil? %>
  <div>
    <div class="row">
        <div class="col-lg-6">
          <div class="the-box no-border" style="height: 430px !important">
            <i class="fa fa-institution icon-circle icon-lg icon-default newicon-2"></i>
            <p class="first-paragraph text-center">
              <%= gender%> enjoys working during the <%= day_adjective %> . <%= gender%> codes as <% if day_adjective == "weekend" %>an odd job. <% else %>a day job.<% end -%> <%= gender%> spends quite a time in polishing skills.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="the-box no-border">
            <div id="container-1" style="min-width: 310px; height: 400px; margin: 0">
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>

<% if not @codeforces_profile.nil? %>
<div class="row">
	<div class="col-lg-6">
		<div class="the-box no-border">
      <% unless @algo_langs.empty? %>
  			<div id="container-2" style="min-width: 310px; height: 400px; margin: 0 auto">
  			</div>
      <% else %>
        <div style="min-width: 310px; height: 100px; margin: 0 auto">
          <center>
            <strong>Graph for Languages used in Algorithms</strong><br/>
            We don't have enough data to judge <%= @first_name%>'s algorithmic skills. But we never <%= gender2 %> talent.
          </center>
        </div>
      <% end %>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="the-box no-border" >
      <% unless @algo_langs.empty? %>
        <div style="height: 430px !important">
          <i class="fa fa-graduation-cap icon-circle icon-lg icon-default newicon"></i>
          <p class="first-paragraph text-center">
            <%= gender %> is quite a cogent developer who loves to spend time enhancing his algothmic skills. <%= gender %> mostly uses <%=@all_langs.keys.first%> but is quite competent in <%= @all_langs.keys.slice(0..2).to_sentence %> too. <%= gender %>'s been progressive and meritorious. hence, tagged as a <%= @codeforces_profile.data["rank"] %>.
          </p>
        </div>
      <% else %>
        <div style="min-width: 310px; height: 100px; margin: 0 auto">
          <center>
            <strong>Algortimic personality description</strong><br/>
            We don't have enough data to judge <%= @first_name%>'s algorithmic skills. But we never <%= gender2 %> talent.
          </center>
        </div>
      <% end %>
		</div>
	</div>
</div>

<script type="assets/modules/exporting.js"></script>
<script type="assets/highcharts.js"></script>
<!-- <script type="assets/ejs.js"></script> -->
<!-- <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script> -->
<% unless @linkedin_profile.nil? %>
  <script type="text/javascript">
      if ($('#owl-lazy-load-autoplay').length > 0){
        $("#owl-lazy-load-autoplay").owlCarousel({
          autoPlay: 3000,
          items : 2,
          lazyLoad : true
        });
      }
  </script>
<% end %>

<% unless @github_profile.nil? %>
  <script type="text/javascript">
      $('#container').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Working Hours Graph'
          },
          xAxis: {
              categories: ['00:00 to 3:00', '3:00 to 6:00', '6:00 to 9:00', '9:00 to 12:00', '12:00 to 15:00', '15:00 to 18:00', '18:00 to 21:00', '21:00 to 00:00']
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Number of Contibutions'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                  }
              }
          },
          legend: {
              align: 'right',
              x: -30,
              verticalAlign: 'top',
              y: 25,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.x + '</b><br/>' +
                      this.series.name + ': ' + this.y + '<br/>' //+
                      // 'Total: ' + this.point.stackTotal;
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true,
                      color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                      style: {
                          textShadow: '0 0 3px black'
                      }
                  }
              }
          },
          series: [{
              <% commits = @github_profile.data["punch_card"]["time"] %>
              name: 'commits',
              data: [<%= commits[0] %>, <%= commits[1] %>, <%= commits[2] %>, <%= commits[3] %>, <%= commits[4] %>, <%= commits[5] %>, <%= commits[6] %>, <%= commits[7] %>]
          }]
      });


      $('#container-1').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Weekly Working Graph'
          },
          xAxis: {
              categories: ['Mon', 'Tue', 'Wed', 'Thu','Fri','Sat','Sun']
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Number of Contibutions'
              },
              stackLabels: {
                  enabled: true,
                  style: {
                      fontWeight: 'bold',
                      color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                  }
              }
          },
          legend: {
              align: 'right',
              x: -30,
              verticalAlign: 'top',
              y: 25,
              floating: true,
              backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
              borderColor: '#CCC',
              borderWidth: 1,
              shadow: false
          },
          tooltip: {
              formatter: function () {
                  return '<b>' + this.x + '</b><br/>' +
                      this.series.name + ': ' + this.y + '<br/>'// +
                      //'Total: ' + this.point.stackTotal;
              }
          },
          plotOptions: {
              column: {
                  stacking: 'normal',
                  dataLabels: {
                      enabled: true,
                      color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                      style: {
                          textShadow: '0 0 3px black'
                      }
                  }
              }
          },
          series: [{
              name: 'commits',
              <% commits = @github_profile.data["punch_card"]["days"] %>
              data: [<%= commits[1] %>, <%= commits[2] %>, <%= commits[3] %>,<%= commits[4] %>, <%= commits[5] %>, <%= commits[6] %>, <%= commits[0] %>]
          }]
      });
  </script>
<% end %>

  <% unless @algo_langs.empty? %>
    <script type="text/javascript">
      $(function () {
        $('#container-2').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Problem solved in different languages'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Problems',
                data: [
                    <% if not @algo_langs.nil? %>
                    <% total = @algo_langs.values.sum %>
                    <% @algo_langs.each do |key, value| %>
                    ['<%= key %>', <%= (value*100)/total %>],
                    <% end -%>
                    <% end -%>
                ]
            }]
        });
    });
    </script>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(function () {
      $('[data-toggle="sum"]').tooltip();
    });
  });
</script>
