<script type="text/javascript">
	$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});

$("#header-id").remove();
$("body").css({"padding-top": "0px"});
$(".page-content").css({"margin-left": "0px"});
$(".page-content").css({"background": "black"});
</script>

<div class="row alpha_wrapper">
	<div id="alpha_2">
	</div><!-- alpha_2 ends -->
	<div id="text_holder_2">
        <div class="row">
            <div class="col-lg-12 col-sm-8 main-logo-container">
                <center>
                    <div class="main-logo">
                        <%= link_to image_tag("logo.png"), home_path %>
                    </div>
                </center>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
                <center>
            		<p class="homepage-heading">
                    let your code speak for you
            		</p>	
                </center>
        	</div>
        </div>
    	<div class="row">
    		<div class="col-lg-4 col-lg-offset-2">
                <div class="row">
                    <div class="score-text text-center hm-text">
                         [Pro-logg]
                         <br/>
                         adj. & acronymn for Professoinal People
                         <br/>
                         origin: India
                    </div>
                </div>
                <div class="row">
                    <div class="text-center hm-button">
                        <% if user_signed_in? %>
                            <%= link_to "Your Profile", profile_path(current_user.username), class: "btn btn-lg btn-info", style: "color: black;" %>
                        <% else %>
                            <%= link_to "Sign-in", new_user_session_path, class: "btn btn-lg btn-info", style: "color: black;" %>
                        <% end %>
                    </div>
                </div>
    		</div> 
        	<div class="col-lg-4 col-lg-offset-1">
                <div class="row">
            		<div class="score-text text-center hm-text">
    				    Track your daily progress.
                        <br/>
                        Analyze and enhance your skills. 
                        <br/>
                        Because we speak for you.
     				 </div>
                </div>
                <div class="row">
                    <div class="text-center hm-button">
                        <% if user_signed_in? %>
                            <%= link_to "Search a companion", search_developer_path, class: "btn btn-lg btn-info", style: "color: black;" %>
                        <% else %>
                            <%= link_to "Register", new_user_registration_path, class: "btn btn-lg btn-info", style: "color: black;" %>
                        <% end %>
                    </div>
                </div>
        	</div>
    	</div>
        <div class="last-row arrow-1">
            <div class="col-lg-1 col-lg-offset-5">
                <center>
            		<a href="#three">
            		<i class="fa fa-chevron-down icon-lg"></i></a>
                </center>
        	</div>
    	</div>
	</div>
</div>
<div class="row" id="three" style="background-color : #242A34 ">
	<div class="col-lg-12 main-logo-container">
        <center>
            <div class="main-logo">
                <%= link_to image_tag("logo.png"), home_path %>
            </div>
        </center>
    </div>
	<div class="col-lg-12">
        <center>
    		<p class = "homepage-heading row">
                An entire hub for Developers
            </p>
        </center>
	</div>
    <div class="row">
        <center>
            <%= link_to "Search Developers", search_developer_path, class: "btn btn-lg btn-success", style: "color: black;" %>
        </center>
    </div>
	<div class="row">
    	<ul id="UL_1">
    	<div class="col-lg-4">
        	<li id="LI_2">
        		<div id="DIV_3">
        			 <span id="SPAN_4"><img alt="People" src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/people-95ead8799bad0f6f790e1c4b07e59faf.png" id="IMG_5" />
        			 <div style="margin-top:25px">
        			 	8.4K Developers
        			 </div>
        			 </span>
        		</div>
        	</li>
    	</div>
    	<div class="col-lg-4">
        	<li id="LI_8">
        		<div id="DIV_9">
        			 <span id="SPAN_10"><img alt="Python-logo" src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/python-logo-3ecf8d0c174f0206c25d2a084ee898ef.png" id="IMG_11" />
        			 <div style="margin-top:25px">
        			 	30 Languages
        			 </div>
        			 </span>
        		</div>
        	</li>
    	</div>
    	<div class="col-lg-4">
        	<li id="LI_14">
        		<div id="DIV_15">
        			 <span id="SPAN_16"><img alt="Medal_of_honor" src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/medal_of_honor-82477001d4cc45c954cf89f98d2ea4f1.png" id="IMG_17" />
        			 <div style="margin-top:25px">
        			 	610 Integrations
        			 </div></span>
        		</div>
        	</li>
    	</div>
        </ul>
	</div>
	<div class="last-row arrow-1">
        <div class="col-lg-1 col-lg-offset-5">
            <center>
                <a href="#four">
                <i class="fa fa-chevron-down icon-lg"></i></a>
            </center>
        </div>
    </div>
</div>

<div class="row" id="four">
	<div id="alpha_3">
	</div><!-- alpha_2 ends -->
	<div id="text_holder_2">
        <div class="row">
            <div class="col-lg-12 col-sm-8 main-logo-container">
                <center>
                    <div class="main-logo">
                        <%= link_to image_tag("logo.png"), home_path %>
                    </div>
                </center>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
                <div class="videoWrapper">
                    <!-- Copy & Pasted from YouTube -->
                    <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1" frameborder="0" allowfullscreen></iframe>
                </div> 
			</div>
		</div>
	</div>
</div>
