<!-- <h2>Resend confirmation instructions</h2> -->
<script type="text/javascript">
  $("#header-id").remove();
  $("body").css({"background": "#37BC9B"})
  $("#footer-id").remove();
</script>
<div class="login toolkits">
<div class="login-header text-center">
  <%= image_tag ("download.jpg"), class: "logo" %>
</div>
<div class="login-wrapper">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group has-feedback lg left-feedback no-label">
    <%= f.text_field :email, autofocus: true, class: "form-control no-border input-lg rounded", placeholder: "Email" %>
    <span class="fa fa-user form-control-feedback"></span>
  </div>

  <div class="actions">
  	<div class="form-group">
    	<%= f.submit "Resend confirmation instructions", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
    </div>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>