<script type="text/javascript">
  $("#header-id").remove();
  $("body").css({"padding-top": "0px"})
  $(".page-content").css({"margin-left": "0px"})
  $(".page-content").css({"background": "#37BC9B"})
</script>
<div class="login toolkits">

  <%= render partial: "layouts/center_logo"%>

  <div class="login-wrapper">
  <% resource.build_location if resource.location.nil? %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {id: "profile_edit_form", novalidate: "novalidate" , method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :full_name %><br /> -->
      <%= f.text_field :full_name, autofocus: true, class: "form-control no-border input-lg rounded solution", placeholder: "Full name" %>
      <span class="fa fa-male form-control-feedback iconposition"></span>
    </div>

    <div class="form-group lg gendersetting ">
      <p class="form-control no-border input-lg rounded" >  
        <i class="fa fa-user  gendericon"></i>
         Gender
        <i class="fa fa-male  gendericon"></i>
        <%= f.radio_button :gender, true, checked: true %>
        <%= label :gender_male, 'Male' %>
        <i class="fa fa-female  gendericon"></i>
        <%= f.radio_button :gender, false %>
        <%= label :gender_female, 'Female' , { :class => 'femaleicon' }  %>
      </p>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label  disabled">
      <!-- <%= f.label :username %><br /> -->
      <%= f.text_field :username, class: "form-control no-border input-lg rounded solution", placeholder: "Username", disabled: true %>
      <span class="fa fa-user form-control-feedback iconposition"></span>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, class: "form-control no-border input-lg rounded solution", placeholder: "Email" %>
      <span class="fa fa-envelope form-control-feedback iconposition"></span>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class="checkbox">
        <label>
        <%= f.check_box :availability, class: "i-yellow-flat" %>
        <%= f.label :availabile %>
        </label>
      </div>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :short_bio %><br /> -->
      <%= f.text_area :short_bio, class: "form-control no-border input-lg rounded solution", placeholder: "short_bio" %>
      <span class="fa fa-pencil form-control-feedback iconposition"></span>
    </div>

    <%= f.fields_for :location do |location_fields|%>
      <div class="form-group has-feedback lg right-feedback no-label">
        <%= location_fields.label :location %><br />
        <select id="location_select" name="user[location_attributes][name]" value="current_user.locatino.name" class="form-control chosen-select">
          <% Location.all.each do |location| %>
            <option value="<%= location.name %>"><%= location.name %></option>
          <% end %>
        </select>
      </div>
    <% end %>

    <div class="form-group has-feedback lg right-feedback no-label" >
      <!-- <%= f.label :password %> --><i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "Password" %>
      <span class="fa fa-lock form-control-feedback iconposition" style="top: 20px"></span>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :password_confirmation %><br /> -->
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "Confirm Password" %>
      <span class="fa fa-unlock form-control-feedback iconposition"></span>  
    </div>

    <div class="form-group has-feedback lg right-feedback no-label" >
      <!-- <%= f.label :current_password %> -->
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "current_password" %>
      <span class="fa fa-lock form-control-feedback iconposition"></span>
      <i>(we need your current password to confirm your changes)</i>
    </div>


    <div class="actions">
      <button type="submit" class="btn btn-warning btn-lg btn-perspective btn-block">Update</button>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning btn-lg btn-perspective btn-block" %></p>

  <%= link_to "Edit links", edit_links_path, class: "btn btn-danger btn-lg btn-perspective btn-block", style: "margin-bottom: 20px; margin-top: 5px; width: 45%; float: left;" %>
  <%= link_to "Back", profile_path(current_user.username), class: "btn btn-danger btn-lg btn-perspective btn-block", style: "margin-bottom: 100px; margin-top: 5px; width: 45%; float: right;" %>
  </div>
</div>
<script type="text/javascript">
  $('#profile_edit_form').bootstrapValidator({
    message: 'This value is not valid',
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
       validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      "user[full_name]": {
        message: 'The full_name is not valid',
        validators: {
          notEmpty: {
            message: 'The full name is required and can\'t be empty'
          },
          stringLength: {
            min: 6,
            max: 30,
            message: 'The full name must be more than 6 and less than 30 characters long'
          }
          
        }
      },

      "user[username]": {
        message: 'The username is not valid',
        validators: {
          notEmpty: {
            message: 'The username is required and can\'t be empty'
          },
          stringLength: {
            min: 6,
            max: 30,
            message: 'The username must be more than 6 and less than 30 characters long'
          },
          regexp: {
            regexp: /^[a-zA-Z0-9_\.]+$/,
            message: 'The username can only consist of alphabetical, number, dot and underscore'
          }
        }
      },

      "user[email]" : {
        validators: {
          notEmpty: {
            message: 'The email address is required and can\'t be empty'
          },
          emailAddress: {
            message: 'The input is not a valid email address'
          }
        }
      },

      "user[current_password]" : {
        message: 'The password field cannot be empty',
        validators: {
          notEmpty: {
            message: 'The password is required and can\'t be empty'
          },
          stringLength: {
            min: 8,
            max: 30,
            message: 'The password must be more than 6 and less than 30 characters long'
          }
          
        }
      }
    }
  });
</script>
<script type="text/javascript">
  var select, chosen;

  // cache the select element as we'll be using it a few times
  select = $(".chosen-select");

  // init the chosen plugin
  select.chosen();

  // get the chosen object (any type, single or multiple)
  chosen = $('.chosen-container');
  // chosen = $('.chosen-select-single');
  // chosen = $('.chosen-container-multi');

  // Bind the keyup event to the search box input
  chosen.find('input').keyup( function(e)
  {
    // if we hit Enter and the results list is empty (no matches) add the option
    if (e.which == 13 && chosen.find('li.no-results').length > 0)
    {
        var option = $("<option>").val(this.value).text(this.value);

        // add the new option
        select.prepend(option);
        // automatically select it
        select.find(option).prop('selected', true);
        // trigger the update
        select.trigger("chosen:updated");
    }
});
</script>

<script type="text/javascript">
  var locationa = "<%=raw current_user.location.name %>";
  document.getElementById('location_select').value = locationa;
  $('#location_select').trigger('chosen:updated');
</script>
