
<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->
<script type="text/javascript">
  $("#header-id").remove();
  $("body").css({"background": "#37BC9B"})
</script>
<div class="login toolkits">
  <div class="login-header text-center logoheader">
    <%= image_tag ("download.jpg"), class: "logo" %>
  </div>
  <div class="login-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {id: "profile_edit_form", novalidate: "novalidate" , method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :full_name %><br /> -->
      <%= f.text_field :full_name, autofocus: true, class: "form-control no-border input-lg rounded solution", placeholder: "Full name" %>
      <span class="fa fa-male form-control-feedback iconposition"></span>
    </div>

    <div class="form-group lg gendersetting ">
      <p class="form-control no-border input-lg rounded" >  
        <i class="fa fa-user  gendericon"></i>
         Gender
      <i class="fa fa-male  gendericon"></i>
      <%= f.radio_button :gender , 'male', checked: true %>
      <%= label :gender_male, 'Male' %>
      <i class="fa fa-female  gendericon"></i>
      <%= f.radio_button :gender , 'female' %>
      <%= label :gender_female, 'Female', { :class => 'femaleicon' } %>
      </p>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :username %><br /> -->
      <%= f.text_field :username, class: "form-control no-border input-lg rounded solution", placeholder: "Username" %>
      <span class="fa fa-user form-control-feedback iconposition"></span>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :email %><br /> -->
      <%= f.email_field :email, class: "form-control no-border input-lg rounded solution", placeholder: "Email" %>
      <span class="fa fa-envelope form-control-feedback iconposition"></span>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class="checkbox">
        <label>
        <%= f.check_box :availability, class: "i-yellow-flat" %>
        <%= f.label :availabile %>
        </label>
      </div>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :short_bio %><br /> -->
      <%= f.text_area :short_bio, class: "form-control no-border input-lg rounded solution", placeholder: "short_bio" %>
      <span class="fa fa-pencil form-control-feedback iconposition"></span>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label" >
      <!-- <%= f.label :password %> --><i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "Password" %>
      <span class="fa fa-lock form-control-feedback iconposition" style="top: 20px"></span>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label">
      <!-- <%= f.label :password_confirmation %><br /> -->
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "Conform Password" %>
      <span class="fa fa-unlock form-control-feedback iconposition"></span>  
    </div>

    <div class="form-group has-feedback lg right-feedback no-label" >
      <!-- <%= f.label :current_password %> -->
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control no-border input-lg rounded solution", placeholder: "current_password" %>
      <span class="fa fa-lock form-control-feedback iconposition"></span>
      <i>(we need your current password to confirm your changes)</i>
    </div>


    <div class="actions">
    <%= f.submit "Update", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
  </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-warning btn-lg btn-perspective btn-block" %></p>

  <%= link_to "Edit links", edit_links_path, class: "btn btn-danger btn-lg btn-perspective btn-block", style: "margin-bottom: 20px; margin-top: 5px; width: 45%; float: left;" %>
  <%= button_to "Back", :back, class: "btn btn-danger btn-lg btn-perspective btn-block", style: "margin-bottom: 100px; margin-top: 5px; width: 45%; float: right;" %>
  </div>
</div>
