<% unless @cfp.nil? %>
	handle: <%= @cfp.handle %></br>
	contribution: <%= @cfp.contribution %></br>
	rank: <%= @cfp.rank %></br>
	max_rank: <%= @cfp.max_rank %></br>
	rating: <%= @cfp.rating %></br>
	max_rating: <%= @cfp.max_rating %></br>
	last_online: <%= @cfp.last_online %></br>

	tags and count in solved problems: <%= @cfp.metadata["tags"] %></br>
	languages and solved problems: <%= @cfp.metadata["languages"] %></br>
	change in ratings: <%= @cfp.metadata["ratings"] %></br>

	<%= link_to "Recent Submissions", cfp_submissions_path(handle: @cfp.handle), {remote: true, id: "cfp_rec_subs"} %>
	<div id="recent_subs">
	</div>
<% end %>
