<!-- <h2>Log in</h2> -->
<script type="text/javascript">
  $("#header-id").remove();
  $("body").css({"background": "#37BC9B"})
  $("#footer-id").remove();
</script>
<div class="login toolkits">
<div class="login-header text-center logoheader">
  <%= image_tag ("download.jpg"), class: "logo" %>
</div>
<div class="login-wrapper">

  <%= render 'layouts/notifications' %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "signinform", novalidate: "novalidate"}) do |f| %>
    <div class="form-group has-feedback lg no-label right-feedback">
      <span class="fa fa-user form-control-feedback iconposition"></span>
      <%= f.text_field :email, class: "form-control no-border input-lg  solution rounded", placeholder: "Email" %>
    </div>

    <div class="form-group has-feedback lg right-feedback no-label" >
      <%= f.password_field :password, autocomplete: "off", class: "form-control no-border input-lg solution rounded", placeholder: "Password" %>
      <span class="fa fa-lock form-control-feedback iconposition"></span>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="checkbox">
          <label>
          <%= f.check_box :remember_me, class: "i-yellow-flat" %>
          <%= f.label :remember_me %>
          </label>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-warning btn-lg btn-perspective btn-block" %>
      </div>
    </div>
  <% end %>

  <strong><%= render "devise/shared/links" %></strong>
</div>
