		<!-- BEGIN TOP NAV -->
		<div class="top-navbar">
			<div class="top-navbar-inner">
				
				<!-- Begin Logo brand -->
				<div class="logo-brand">
					<%= link_to image_tag("download.jpg"), "#" %>
				</div><!-- /.logo-brand -->
				<!-- End Logo brand -->
				
				<div class="top-nav-content">

					<!-- Begin button nav toggle -->
					<div class="btn-collapse-sidebar-left">
							<i class="fa fa-bars"></i>
						</div>
					<!-- /.btn-collapse-sidebar-right -->
					 <!-- End button nav toggle -->
					
					<!-- Begin Collapse menu nav -->
					<!-- <div class="collapse navbar-collapse" id="main-fixed-nav"> -->
						<!-- Begin nav search form -->
						<a href="<%= search_developer_path %>" class="btn btn-primary searchbtnstyle" >
							<i class="fa fa-search"></i>
							Search a developer
						</a>

							<% if user_signed_in? %>
								 <!-- Begin user session nav -->
								<ul class="nav-user navbar-right" >
									<button class="btn btn-primary" style="margin-top: 13px; float: left;">Update</button>
								<!--  -->

									<!-- Begin nav notification -->
									<li class="dropdown" style="margin-top: 8px; float: left;">
										<a href="index.html#fakelink" class="dropdown-toggle" data-toggle="dropdown">
										
										<% notification_count = current_user.mail_notifications.where(:status=> false).length %>
											<% if not notification_count==0%>
												<span class="badge badge-danger icon-count"  id="notifications_count" style= "position: absolute; top: 9px; left:21px;">
												<%= notification_count %></span>
											<%end%>
											<i class="fa fa-bell"></i>
										</a>
										<ul class="dropdown-menu square with-triangle">
											<li>
											<div class="nav-dropdown-heading">
											Notifications
											</div><!-- /.nav-dropdown-heading -->
											<div class="nav-dropdown-content scroll-nav-dropdown">

												<ul>
													<% if current_user.mail_notifications.length==0 %>
														<center><i class="fa fa-bell icon-lg"></i></center>
														<br>
														<center><strong>No Notification.</strong></center> 
													<% else %>
													<% current_user.mail_notifications.order("id DESC").each do |notification|%>
													<li id="msg_<%=notification.id%>"class="<% if notification.status == false %> unread <% end %>">
														<a href="<%= delete_mails_path(notification.id) %>" style="width:60px; float:right;" method= "delete" data-remote=true>
														<button class="btn btn-default " style="float:right; margin-top: 12px; margin-right: 7px; z-index: 150;" ><i class="fa fa-trash-o"></i>
														</button>
														</a>
														<a href="#" style="padding-right: 30px;">
															<%= image_tag(notification.actor.gravatar_url, class: "absolute-left-content img-circle") %>
															<strong><%= notification.actor.full_name %></strong> sent you a mail.
															<span class="small-caps"><%=distance_of_time_in_words_to_now(notification.created_at)%> ago</span>
														</a>
													</li>
													<% end %>
													<% end %>
												</ul>
											</div><!-- /.nav-dropdown-content scroll-nav-dropdown -->
											<button class="btn btn-primary btn-square btn-block">See all notifications</button>
										</li>
										</ul>
									</li>
								<!-- End nav notification -->


									<li class="dropdown" style="width:203px; float:right">
									  <a href="blank.html#fakelink" class="dropdown-toggle" data-toggle="dropdown">
										<%= image_tag(current_user.gravatar_url, class: "avatar img-circle") %>
										Hi, <strong><%= current_user.full_name.split(" ").first %></strong>
									  </a>
									  <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
									  		<li><%= link_to "Show Profile", profile_path(current_user.username) %></li>
											<li><%= link_to "Edit Profile", edit_user_registration_path %></li>
											<li><%= link_to "Edit Integrations", edit_integrations_path, remote: true, id: "edit_integrations" %></li>
											<li><a href="blank.html#fakelink">Change password</a></li>
											<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
									  </ul>
									</li>
								</ul>
								<!-- End user session nav -->
								
							<% else %>
								<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary", style: " margin-left: 625px; margin-top: 10px;"  %>
								<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary", style: " margin-top: 10px; margin-right: -13px;" %>
							<% end %>
						<!-- End nav search form -->
						
					<!-- </div> --><!-- /.navbar-collapse -->
					<!-- End Collapse menu nav -->
				</div><!-- /.top-nav-content -->
			</div><!-- /.top-navbar-inner -->
		</div><!-- /.top-navbar -->
		<!-- END TOP NAV -->

<script type="text/javascript">
	$(".btn-collapse-sidebar-left").click(function(){
		"use strict";
		$(".top-navbar").toggleClass("toggle");
		$(".sidebar-left").toggleClass("toggle");
		$(".page-content").toggleClass("toggle");
		$(".icon-dinamic").toggleClass("rotate-180");
		
		if ($(window).width() > 991) {
			if($(".sidebar-right").hasClass("toggle-left") === true){
				$(".sidebar-right").removeClass("toggle-left");
				$(".top-navbar").removeClass("toggle-left");
				$(".page-content").removeClass("toggle-left");
				$(".sidebar-left").removeClass("toggle-left");
				if($(".sidebar-left").hasClass("toggle") === true){
					$(".sidebar-left").removeClass("toggle");
				}
				if($(".page-content").hasClass("toggle") == true){
					$(".page-content").removeClass("toggle");
				}
			}
		}

		if($(".page-content").hasClass("toggle") == false){
			$(".page-content").removeAttr("style")
		}

		if($(".page-content").hasClass("toggle") == true){
			$(".page-content").css({"width": "100%"})
		}

	});
	$(window).resize(function() {
		var windowwidth = $(window).width();
		if (windowwidth < 991) {
			$(".sidebar-left").addClass("toggle");
			$(".page-content").addClass("toggle");
			$(".page-content").css({"width": "100%"})
		};
		if (windowwidth > 991) {
			$(".sidebar-left").removeClass("toggle");
			if($(".page-content").hasClass("toggle") == true){
				$(".page-content").removeClass("toggle");
				$(".page-content").removeAttr("style")
			}
		};
	});

	$(function () {
		"use strict";
		$('.scroll-nav-dropdown').slimScroll({
			height: '350px',
			position: 'right',
			size: '4px',
			railOpacity: 0.3
		});
	});
</script>

	
