<!DOCTYPE html>
<html>
<head>
  <title>Prologg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css"><%= yield :stylesheets %></style>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
	<body class="tooltips">
		<div class="wrapper">
			<div id="header-id">
				<%= render 'layouts/header' %>
			</div>
			<%= render 'layouts/notifications' %>

			<div class="page-content">
				<%= yield %>
			</div>
			<div id="footer-id">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>
